div.container
	table.table.table-striped
		thead
			tr
				th Beer
				th Shop
				th Last Seen
		tbody
			each product, i in products
				tr
					td
						a(href="#{product.Uri}") #{product.Name}
					td.site-product-cell-shop
						case product.ProviderKey
							when "BIAB"
								span.label(style="background-color: #27ae60") Belgium in a Box
							when "BeerMerchants"
								span.label(style="background-color: #d35400") Beer Merchants
							when "EtreGourmet"
								span.label(style="background-color: #8e44ad") Etre Gourmet
							default
								|#{product.ProviderKey}
					td
						|#{moment(product.LastSeen).fromNow()}