doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-theme.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src="https://cdn.auth0.com/js/lock-7.5.js")
    script(src="/js/site.js")
    meta(name='viewport', content='width=device-width, initial-scale=1')
body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/')
          span.site-logo Guzzlr
      ul.nav.navbar-nav
        li
          a(href='/today') Today
        li
          a(href='/everything') Everything
        li
          a(href='/notify') Notify Me
      ul.nav.navbar-nav(style='float: right')
        if user
          li
            a(href='/profile') #{user.nickname}
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login 
        // li
        //   a(href='//taphub.brock.in/') Tap Hub
  block content
