doctype html
html
  head
    title Guzzlr
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // link(href='/css/bootstrap.css', rel='stylesheet')
    // link(href='/css/bootstrap-theme.css', rel='stylesheet')
    link(href='https://bootswatch.com/lumen/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/js/jquery.ba-throttle-debounce.js')
    script(src='/js/bootstrap.min.js')
    script(src="https://cdn.auth0.com/js/lock-7.5.js")
    script(src="/js/site.js")
    meta(name='viewport', content='width=device-width, initial-scale=1')
body
  nav.navbar.navbar-default(role='navigation')
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/')
          span.site-logo Guzzlr
        button.navbar-toggle.site-menu-button(type='button', data-toggle='collapse', data-target='#navigationbar')
          span.sr-only Toggle navigation
          img.site-menu-icon(src='/images/menu.svg')
      div.collapse.navbar-collapse#navigationbar
        ul.nav.navbar-nav
          li
            a(href='/today') Daily Beer
          // li
          //   a(href='/yesterday') Yesterday
          li
            a(href='/everything') Everything
          li
            a(href='/notify') Notify Me
          // li
          //   a(href='/search') Search
          li
            a(href='/local') Edinburgh
        ul.nav.navbar-nav.site-navbar-right
          if user
            li
              a(href='/profile') #{user.nickname}
            li
              a(href='/logout') Logout
          else
            li
              a(href='/login') Login / Sign up
          // li
          //   a(href='//taphub.brock.in/') Tap Hub
  block content
