extends layout

block content
	div.container.site-page-header
		h2(style='margin-top: 0px') Edinburgh
		h4 Scraping Edinburgh's bottle shops for loons.
	div.container
		ul.nav.nav-tabs(role='tablist')
			li.active(role='presentation')
				a(href='#tab-cornelius', aria-controls='home', role='tab', data-toggle='tab') Cornelius
			li(role='presentation')
				a(href='#tab-beerhive', aria-controls='profile', role='tab', data-toggle='tab') Beer Hive
			li(role='presentation')
				a(href='#tab-bottlebaron', aria-controls='messages', role='tab', data-toggle='tab') Bottle Baron
			li(role='presentation')
				a(href='#tab-thb', aria-controls='settings', role='tab', data-toggle='tab') The Hanging Bat
			li(role='presentation')
				a(href='#tab-brewdog', aria-controls='settings', role='tab', data-toggle='tab') BrewDog
			li(role='presentation')
				a(href='#tab-bottledog', aria-controls='settings', role='tab', data-toggle='tab') BottleDog
		.tab-content
			#tab-cornelius.tab-pane.active(role='tabpanel')
				include ./includes/local-edi-cornelius.jade
			#tab-beerhive.tab-pane(role='tabpanel') ...
			#tab-bottlebaron.tab-pane(role='tabpanel') ...
			#tab-thb.tab-pane(role='tabpanel')
				include ./includes/local-edi-thb.jade
			#tab-brewdog.tab-pane(role='tabpanel') ...
			#tab-bottledog.tab-pane(role='tabpanel') ...
			