extends layout

block content
	div(class='container')
		div(class='container site-page-header site-page-header-notify', style='margin-left: -15px; margin-right: 15px')
			h2(style='margin-top: 0px') Notify Me
			h4 Keep buying beer until it takes over your life and your wife leaves you.
		div(class='row')
			div(class='col-md-6')
				div(class='panel panel-default')
					div(class='panel-heading')
						h4 Real-time
					div(class='panel-body') We'll let you define some keywords (e.g. Fou Foune) and poke you immediately when we find matching beers. Coming soon.
			div(class='col-md-6')
				div(class='panel panel-default')
					div(class='panel-heading')
						h4 Daily Digest
					div(class='panel-body') We'll send you an email daily with any new beers. Coming soon.