extends layout

block content
	div(class='container site-page-header')
		h2(style='margin-top: 0px') New Beer
		h4 All of today's epic beached unicorns.
	- var hideSeen = true
	include ./includes/product-table.jade