extends layout

block content
	div(class='container site-page-header')
		h2(style='margin-top: 0px')
			if past
				|Past Beer
			else
				|New Beer
		h4
			if past
				|#{date.format('dddd Do MMMM')}
			else
				|All of today's epic beached unicorns.
	
	if products.length == 0
		.container
			.alert.alert-info
				if past
					|Uh oh. Looks like there weren't any new beers.
				else
					|Looks like there aren't any new beers yet. There's still time!
	else
		- var hideSeen = true
		include ./includes/product-table.jade
		
	.container
		- var prevDay = moment(date).subtract(1, 'days').format('YYYY-MM-D');
		- var nextDay = moment(date).add(1, 'days').format('YYYY-MM-D');
		a.btn.btn-default(href="/today?date=#{prevDay}")
			|&laquo; Previous Day
		if past
			a.btn.btn-default.pull-right(href="/today?date=#{nextDay}")
				|Next Day &raquo;
	// .container
	// 	b #{guzzlrUser._id}
	.container
		|&nbsp;