extends layout

block content
	div(class='container site-page-header')
		h2(style='margin-top: 0px') Yesterday
		h4 All my bottles seem so far away...
	- var hideSeen = true
	include ./includes/product-table.jade