body
{
  overflow-y: scroll;
}

h1, h2, h3, h4, h5
{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
}

th
{
  color: rgba(0,0,0,0.3);
}

h4
{
  color: rgba(0,0,0,0.4);
  margin-left: 2px;
}

.site-logo
{
  font-family: 'Lobster', cursive;
  font-size: 18pt;
  /*color: #d35400;*/
  margin: 0;
}

/*.site-main-nav
{
  margin: 5px;
  margin-bottom: 15px;
}*/

.site-page-header
{
  margin-bottom: 10px;
}

.site-jumbotron
{
  margin-top: 0;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 8px rgba(0,0,0,0.6);
  
  background: url(/images/whales.jpg) no-repeat center -20px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  
  opacity: 0.9;
}

.site-jumbotron h1,
.site-jumbotron h2,
.site-jumbotron h3,
.site-jumbotron h4,
.site-jumbotron h5
{
  color: white;
}

.site-product-cell-shop .label
{
  font-size: 8pt;
  margin: 0;
}

.site-page-header-notify
{
  margin-bottom: 20px;
}

/*.site-padding-top
{
  height: 50px;
}*/