body
{
  overflow-y: scroll;
}

h1, h2, h3, h4, h5
{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
}

th
{
  color: rgba(0,0,0,0.3);
}

h4
{
  color: rgba(0,0,0,0.4);
  margin-left: 2px;
}

.site-logo
{
  font-family: 'Lobster', cursive;
  font-size: 18pt;
  /*color: #d35400;*/
  margin: 0;
}

/*.site-main-nav
{
  margin: 5px;
  margin-bottom: 15px;
}*/

.site-page-header
{
  margin-bottom: 10px;
}

.site-jumbotron
{
  margin-top: 0;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 8px rgba(0,0,0,0.6);
  
  background: url(/images/whales.jpg) no-repeat center -20px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  
  opacity: 0.9;
}

.site-jumbotron h1,
.site-jumbotron h2,
.site-jumbotron h3,
.site-jumbotron h4,
.site-jumbotron h5
{
  color: white;
}

.site-page-header-notify
{
  margin-bottom: 20px;
}

.site-navbar-right { }

@media (max-width: 768px) {
    .site-navbar-right {
      padding-top: 0;
      margin-top: -8px;
      float: none;
    }
}

@media (max-width: 768px) {
    .jumbotron {
      padding-left: 15px;
      padding-right: 15px;
    }
}

@media (min-width: 769px) {
    .site-navbar-right {
        float: right;
    }
}

.site-menu-button
{
  padding: 6px;
  margin-top: 8px;
  border: 0px;
}

.site-menu-icon
{
  width: 20px;
  height: 20px;
  border: 0px;
  fill: #777;
}

.table tbody>tr>td.site-product-cell-seen
{
  padding-bottom: 4px;
  vertical-align: middle;
}

.table tbody>tr>td.site-product-cell-name
{
  vertical-align: middle;
}

.table tbody>tr>td.site-product-cell-shop
{
  vertical-align: middle;
}

.site-product-cell-seen
{
  white-space: nowrap;
  font-size: 9pt;
}

.site-product-cell-shop .label
{
  font-size: 8pt;
  margin: 0;
}

.site-product-cell-name
{
  
}


/*.site-padding-top
{
  height: 50px;
}*/